<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AYUSH | home-page</title>

  <!-- 
    - favicon
  -->
  <!-- <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml"> -->

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/styles/home.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">
     <div class="header-bottom">
      <div class="container">

        <a href="#" class="logo">
          <img src="/images/home/b-logo.png" width="120px" alt="Ayunxt">
        </a>

        <nav class="navbar" data-navbar>


          <div class="navbar-bottom">
            <ul class="navbar-list">

              <li>
                <a href="#home" class="navbar-link" data-nav-link>Home</a>
              </li>

              <li>
                <a href="#about" class="navbar-link" data-nav-link>About</a>
              </li>

              <li>
                <a href="#service" class="navbar-link" data-nav-link>Services</a>
              </li>
              <li>
                <a href="" class="navbar-link-1"></a><B style="font-size: 18px; color: black;">I'm a</B></a>
              </li>
              <li>

                <button class="register-btn-1">
                  <a href="/startup/signup"  >Startup</a>
                </button>

              </li>

              <button class="register-btn-2">

                <li>
                  <a href="#" >Official</a>
                </li>
              </button>

              <button class="register-btn-3">

                <li>
                  <a href="#">Stakeholder</a>
                </li>
              </button>

            </ul>
          </div>

        </nav>


      </div>
    </div>

  </header>

   <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">
              <ion-icon name="home"></ion-icon>

              <span>AYUSH Registration Portal</span>
            </p>

            <h2 class="h1 hero-title">Unlock AYUSH Innovation with Easy Registration</h2>

            <p class="hero-text">
              A streamlined, secure portal for AYUSH startup registration, enhancing efficiency and compliance.         </p>

            <button class="btn">Know your Eligibility</button>

          </div>

          <figure class="hero-banner">
            <img src="/images/home/main.jpeg" height="550px" width="600px" alt="Modern house model" style="border-radius: 40px;">
          </figure>

        </div>
      </section>

      <!-- 
        - #ABOUT
      -->

      <section class="about" id="about">
        <div class="container">

          <figure class="about-banner">
            <img src="/images/home/About3.jpg" alt="House interior">

            <!-- <img src="/images/home/about.jpg" alt="House interior" class="abs-img"> -->
          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">Innovative Portal for AYUSH Startup Registration Success</h2>

            <p class="about-text">
              "Our AYUSH Startup Portal simplifies the registration process for startups in the AYUSH sector, offering a user-friendly platform to guide you through each step efficiently and transparently."
            </p>

            <ul class="about-list">

              <li class="about-item">
                <div class="about-item-icon">
                  <!-- <i class="fa-solid fa-hourglass-start"> -->

                  </i>
                </div>

                <p class="about-item-text">Startup Registration

                </p>
              </li>

              <li class="about-item">
                <div class="about-item-icon"> 
                  <!-- <ion-icon name="leaf-outline"></ion-icon> -->
                </div>

                <p class="about-item-text">Status Tracking</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <!-- <ion-icon name="wine-outline"></ion-icon> -->
                </div>

                <p class="about-item-text">Document Verification</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <!-- <ion-icon name="shield-checkmark-outline"></ion-icon> -->
                </div>

                <p class="about-item-text">Support 24/7 </p>
              </li>

            </ul>

            <p class="callout">
              Empowering Wellness: AYUSH Integrating Ancient Wisdom with Contemporary Care.
            </p>

            <a href="#service" class="btn">Our Services</a>

          </div>

        </div>
      </section>

      <!-- 
        - #SERVICE
      -->

      <section class="service" id="service">
        <div class="container">

          <p class="section-subtitle">Our Services</p>

          <h2 class="h2 section-title">Our Main Focus</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <!-- <div class="card-icon">
                   <img src="/images/home/scheme.jpeg" alt="Service icon"> 
                </div> -->

                <h3 class="h3 card-title">
                  <a href="#">Statrup Registration</a>
                </h3>

                <p class="card-text">
                  Simplified and efficient registration portal for AYUSH startups with clear application processes.
                </p>

                <a href="#" class="card-link">
                  <span></span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <!-- <img src="/images/home/service-2.png" alt="Service icon"> -->
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Status Tracking</a>
                </h3>

                <p class="card-text">
                  Instant updates and tracking for application status with notifications for AYUSH startups on application progress for  registrations.
                </p>

                <a href="#" class="card-link">
                  <span></span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <!-- <img src="/images/home/service-3.png" alt="Service icon"> -->
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Document Verification</a>
                </h3>

                <p class="card-text">
                  Secure upload and management of documents ensuring regulatory compliance and data security.                </p>

                <a href="#" class="card-link">
                  <span></span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

          </ul>

        </div>
      </section>
      <!-- 
        - #FEATURES
      -->

      <section class="features"  id="schemes">
        <div class="container">

          <p class="section-subtitle">Schemes</p>

          <h2 class="h2 section-title">Government Schemes</h2>

          <ul class="features-list">

            <li>
              <a href="https://ngo.ayush.gov.in/scheme-information-education-communication" class="features-card">

                <div >
                  <!-- <ion-icon name="car-sport-outline"></ion-icon> -->
                </div>

                <h3 class="card-title">Central Sector Scheme for Promotion of Information, Education and Communication (IEC) in Ayush</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            
            <li>
              <a href="https://ngo.ayush.gov.in/central-sector-scheme-ayurgyan" class="features-card">
 
                <div > 
                   <!-- <ion-icon name="bed-outline"></ion-icon>  -->
                </div> 

                <h3 class="card-title">Central Sector Scheme for AYURGYAN</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="https://ngo.ayush.gov.in/national-medicinal-plant-board" class="features-card">

                <div>
                  <!-- <img src="/images/home/s-icon.jpeg" alt="scheme"> -->
                </div> 

                <h3 class="card-title">Central Sector Scheme on Conservation, Development and Sustainable Management of Medicinal Plants</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="https://ngo.ayush.gov.in/central-sector-scheme-ayurswasthya" class="features-card">

                <div >
                  <!-- <ion-icon name="football-outline"></ion-icon> -->
                </div>

                <h3 class="card-title">Central Sector Scheme for AYURSWASTHYA</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

          </ul>

        </div>
      </section>

      <!-- 
        - #AYUSH
      -->

      <section class="blog" id="blog">
        <div class="container">

          <p class="section-subtitle">News & Blogs</p>

          <h2 class="h2 section-title">Leatest News Feeds</h2>

          <ul class="blog-list has-scrollbar">

            <li>
              <div class="blog-card">

                <figure class="card-banner">
                  <img src="/images/home/Ayur.jpg" alt="The Most Inspiring Interior Design Of 2021" class="w-100">
                </figure>

                <div class="blog-content">

                  <div class="blog-content-top">
                    <h3 class="h3 blog-title">
                     <span> Ayurveda </span>
                     
                    </h3>

                  </div>

                  <div class="blog-content-bottom">
                    

                    <a href="https://en.wikipedia.org/wiki/Ayurveda" class="read-more-btn">Read More</a>
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">
                  <img src="/images/home/yoga.jpg" alt="Recent Commercial Real Estate Transactions" class="w-100">
                </figure>

                <div class="blog-content">

                  <div class="blog-content-top">

                    <ul class="card-meta-list">



                    </ul>

                    <h3 class="h3 blog-title">
                      <span>YOGA AND NATUROPATHY</span>
                    </h3>

                  </div>

                  <div class="blog-content-bottom">
                   

                    <a href="https://en.wikipedia.org/wiki/Yoga" class="read-more-btn">Read More</a>
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">
                  <img src="/images/home/unani.png" alt="Renovating a Living Room? Experts Share Their Secrets"
                    class="w-100">
                </figure>

                <div class="blog-content">

                  <div class="blog-content-top">

                    <ul class="card-meta-list">

                     

                    </ul>

                    <h3 class="h3 blog-title">
                      <span>UNANI</span>
                    </h3>

                  </div>

                  <div class="blog-content-bottom">
                    

                    <a href="https://en.wikipedia.org/wiki/Unani_medicine" class="read-more-btn">Read More</a>
                  </div>

                </div>

              </div>
            </li>
            <li>
              <div class="blog-card">

                <figure class="card-banner">
                  <img src="/images/home/siddha.jpeg" alt="Renovating a Living Room? Experts Share Their Secrets"
                    class="w-100">
                </figure>

                <div class="blog-content">

                  <div class="blog-content-top">

                    <ul class="card-meta-list">

                      

                    </ul>

                    <h3 class="h3 blog-title">
                      <span>SIDDHA</span>
                    </h3>

                  </div>

                  <div class="blog-content-bottom">
                  

                    <a href="https://en.wikipedia.org/wiki/Siddha" class="read-more-btn">Read More</a>
                  </div>

                </div>

              </div>
            </li>
            <li>
              <div class="blog-card">

                <figure class="card-banner">
                  <img src="/images/home/homo.jpg" alt="Renovating a Living Room? Experts Share Their Secrets"
                    class="w-100">
                </figure>

                <div class="blog-content">

                  <div class="blog-content-top">

                  

                    <h3 class="h3 blog-title">
                      <span> HOMEOPATHY</span>
                    </h3>

                  </div>

                  <div class="blog-content-bottom">
                    

                    <a href="https://en.wikipedia.org/wiki/Homeopathy" class="read-more-btn">Read More</a>
                  </div>

                </div>

              </div>
            </li>


          </ul>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

      <section class="cta">
        <div class="container">

          <div class="cta-card">
            <div class="card-content">
              <h2 class="h2 card-title">Want to Register your Startup ?</h2>

              <p class="card-text">Unlock AYUSH Potential with Simplified Registration</p>
            </div>

            <button class="btn cta-btn">
              <span>Register</span>

              <ion-icon name="arrow-forward-outline"></ion-icon>
            </button>
          </div>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="/images/home/w-logo.png" width="120px" alt="ayunxt logo">
          </a>

          <p class="section-text">
            Development of an Efficient and Secure AYUSH Startup Registration Portal to Simplify and Accelerate the Registration Process
          </p>

          <ul class="contact-list">

            <li>
              <a href="#" class="contact-link">
                <ion-icon name="location-outline"></ion-icon>

                <address>Gunupur</address>
              </a>
            </li>

            <li>
              <a href="tel:+919999774545" class="contact-link">
                <ion-icon name="call-outline"></ion-icon>

                <span>+919999774545</span>
              </a>
            </li>

            <li>
              <a href="mailto:contact@homeverse.com" class="contact-link">
                <ion-icon name="mail-outline"></ion-icon>

                <span>support@ayunxt.com</span>
              </a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Company</p>
            </li>

            <li>
              <a href="#" class="footer-link">About</a>
            </li>

            <li>
              <a href="#" class="footer-link">Blog</a>
            </li>


            <li>
              <a href="#" class="footer-link">FAQ</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Services</p>
            </li>

            <li>
              <a href="#" class="footer-link">Document tracking</a>
            </li>

            
            <li>
              <a href="#" class="footer-link">Login</a>
            </li>

            <li>
              <a href="#" class="footer-link">My account</a>
            </li>

            <li>
              <a href="#" class="footer-link">Terms & Conditions</a>
            </li>



          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Customer Care</p>
            </li>

            <li>
              <a href="#" class="footer-link">Login</a>
            </li>

            <li>
              <a href="#" class="footer-link">My account</a>
            </li>



            <li>
              <a href="#" class="footer-link">Document tracking</a>
            </li>


            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2024 <a href="#">Ayunxt</a>. All Rights Reserved
        </p>

      </div>
    </div>

  </footer>





  <!-- 
    - custom js link
  -->
  <script src="/script/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <script src="https://kit.fontawesome.com/3c6d412aa4.js" crossorigin="anonymous"></script>

</body>

</html>